<header>
  <img src="http://gravatar.com/avatar/76b802165c7c55b9c719495d5e4dbf48?s=42" height="42" width="42">
  <hgroup>
    <h1><a href="[% juice.urlFor( "/" ) %]">evilstreak.co.uk</a></h1>
    <h2>The home of Dominic Baggott, a
    <a href="http://www.pubstandards.co.uk/">beer-drinking</a>,
    <a href="http://github.com/evilstreak">code-writing</a>,
    London-based
    <a href="http://dominicbaggott.com/">web developer</a>.</h2>
  </hgroup>
</header>
