<!DOCTYPE html>
<html>
<head>
  <title>[% title %]</title>
  <link href="[% juice.urlFor( "/styles/press.css" ) %]" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <img src="http://gravatar.com/avatar/76b802165c7c55b9c719495d5e4dbf48&s=42" height="42" width="42">
    <h1><a href="[% juice.urlFor( "/" ) %]">evilstreak.co.uk</a></h1>
    <p>The home of Dominic Baggott, a
    <a href="http://www.pubstandards.co.uk/">beer-loving</a>,
    <a href="http://github.com/evilstreak">code-writing</a>,
    London-based
    <a href="http://dominicbaggott.com/">web developer</a>.
  </header>

  [% content %]

  <aside>
    <section>
      <h1>Tags</h1>
      <ul>
        [% FOREACH t IN tags %]
          <li><a href="[% juice.urlFor( "/tags/", t.key ) %]">
            [% t.key %] ([% t.value %])</a></li>
        [% END %]
      </ul>
    </section>
  </aside>

  <footer>
    <p>This blog is running on
    <a href="http://github.com/evilstreak/pressed">Pressed</a>, a
    blog app written for <a href="http://juicejs.org">Juice</a>.</p>
  </footer>
</body>
</html>
