[% WRAPPER _wrapper.tt
   title = "post.title - My blog" %]
<article>
  <h1>[% post.title %]</h1>

  [% post.content %]

  <div class="meta">
    <p>Penned on [% juice.long_date( post.published ) %], tagged with</p>
    <ul class="tags">
      [% FOREACH t IN post.tags %]
        <li><a href="[% juice.urlFor( "/tags/", t ) %]">
          [% t %]</a></li>
      [% END %]
    </ul>
  </div>
</article>
[% END %]
