[% WRAPPER templates/_wrapper.tt
   title = "evilstreak.co.uk" %]
[% FOREACH p IN recent %]
  <article>
    <h1><a href="[% juice.urlFor( "/b/", p._id ) %]">[% p.title %]</a></h1>
    <p>[% p.content %]</p>
  </article>
[% END %]
[% END %]
