[% WRAPPER templates/_wrapper.tt
   title = "tag - My blog" %]
  <h1>Posts tagged with [% tag %]</h1>

  [% FOREACH p IN posts %]
    <article>
      <h1><a href="[% juice.urlFor( "/b/", p._id ) %]">[% p.title %]</a></h1>
      <ul>
        [% FOREACH t IN p.tags %]
          <li><a href="[% juice.urlFor( "/tags/", t ) %]">
            [% t %]</a></li>
        [% END %]
      </ul>
    </article>
  [% END %]
[% END %]
