/* reset */

* { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: inherit; }
strong, em, code { font-style: inherit; font-weight: inherit; }

/* html5 shimming */

header, footer, section, article, aside, hgroup { display: block; }

/* site wide */

body {
  background: #fff;
  color: #444;
  font: 14px/21px "Helvetica Neue", "Trebuchet MS", "Arial", "Helvetica", sans-serif;
  margin: 0 auto;
  width: 620px;
}

article h1 {
  color: #000;
  font: 300 36px/42px "HelveticaNeue-Light", "Helvetica Neue", "Trebuchet MS", "Arial", "Helvetica", sans-serif;
  margin: 21px 0;
}

p, ul, ol, pre {
  margin-bottom: 21px;
}

h2 {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  margin-top: 42px;
  padding-bottom: 10px;
}

code {
  background: #ccc;
  color: #000;
  font-family: Monaco, Consolas, monospace;
  white-space: nowrap;
}

pre code {
  background: none;
  color: inherit;
  display: block;
  overflow: hidden;
  white-space: inherit;
}

pre code:hover {
  overflow: visible;
}

pre {
  background: #fff;
  border: 2px solid #ccc;
  color: #000;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

ins {
  background: #d8fcce;
  color: green;
  text-decoration: none;
}

p.note {
  border-left: 5px solid #d11;
  padding-left: 5px;
}

a {
  color: #18d;
}

a:hover {
  background: #18d;
  color: #fff;
  text-decoration: none;
}

h3 {
  color: #000;
  font-weight: bold;
}

em {
  font-weight: bold;
}

strong {
  color: #000;
  font-weight: bold;
}

div.meta {
  color: #666;
  font-size: 12px;
  margin: 42px 0 0;
}

div.meta p {
  display: inline;
  margin: 0;
}

/* header */

body > header {
  background: #eee;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  margin: 0 -10px;
  overflow: auto;
  padding: 10px;
}

body > header img {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  display: block;
  float: left;
}

body > header hgroup {
  margin-left: 50px;
}

body > header h1 {
  font-size: 21px;
  line-height: 21px;
}

body > header h2 {
  font-size: 12px;
  font-weight: normal;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

/* aside */

aside {
  border-top: 10px solid #eee;
  margin: 0 -10px;
  padding: 0 10px;
}

aside section {
  padding-top: 21px;
  width: 300px;
}

aside section.tags {
  float: right;
}

aside section.tags h1 {
  color: #ccc;
  float: left;
  font: 300 36px/42px "HelveticaNeue-Light", "Helvetica Neue", "Trebuchet MS", "Arial", "Helvetica", sans-serif;
  margin: 0 5px 0 0;
  text-transform: uppercase;
}

aside section.recent {
  float: left;
}

aside section.recent h1 {
  color: #ccc;
  font: 300 36px/42px "HelveticaNeue-Light", "Helvetica Neue", "Trebuchet MS", "Arial", "Helvetica", sans-serif;
  text-transform: uppercase;
}

aside section.recent li {
  font-size: 12px;
}

/* footer */

footer {
  background: #eee;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  clear: both;
  font-size: 12px;
  line-height: 20px;
  margin: 21px -10px 0;
  overflow: auto;
  padding: 10px;
}

footer p {
  margin: 0;
}

/* tags */

ul.tags {
  display: inline;
  margin: 0;
}

ul.tags li {
  display: inline-block;
  font-size: 11px;
  list-style: none;
  position: relative;
  top: -1px;
  white-space: nowrap;
}

ul.tags a {
  background: #18d;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  color: #fff;
  display: inline-block;
  line-height: 15px;
  margin: 3px 0;
  padding: 0 6px;
  text-decoration: none;
}

aside section.tags ul.tags a {
  padding-right: 3px;
}

ul.tags a span {
  background: rgba( 255, 255, 255, 0.7 );
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #18d;
  display: inline-block;
  font-size: 9px;
  font-weight: bold;
  line-height: 11px;
  padding: 0 3px;
}

ul.tags a:hover {
  background: #000;
}

ul.tags a:hover span {
  color: #000;
}

/* archives */

section.archive h2 {
  font-weight: normal;
  margin: 21px 0 0;
  padding: 0;
}

section.archive h1 {
  margin-bottom: 0;
}

section.archive div.meta {
  color: #444;
  margin: 0 0 21px;
}

p.more {
  border-bottom: 1px solid #eee;
  margin: 0 -10px;
  padding: 0 10px 20px;
}
